@media (max-width:991.98px){
	.header{
		&-body{
			&__img{
				width: 130px;
			}
		}
	}
	.nav-header{
		&__list{
			li{
				margin: 0px 0px 0px 10px;
			}
		}
	}
}
@media (max-width:790.98px){
	.nav-header{
		&__list{
			li{
				margin: 0px 0px 0px 8px;
			}
		}
		&__link{
			font-size: 11px;
		}
	}
}
@media (max-width:767.98px){
	.hamburger{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		position: fixed;
		top: 20px;
		right: 20px;
		height: 21px;
		z-index: 1;
		cursor: pointer;
		span{
			display: block;
			width: 30px;
			height: 3px;
			background: #026381;
		}
		span.long{
			width: 36px;
		}
	}
	.header{
		&-body{
			padding: 20px 25px;
			&__img{
				width: 200px;
			}
		}
		&-menu{
			&.active{
				left: 0;
				visibility: visible;
				opacity: 1;
			}
			&__close{
				position: absolute;
				top: 20px;
				right: 20px;
			}
		}
	}
	.nav-header{
		display: none;
		&--menu{
			display: block;
		}
		&__list{
			display: block;
			padding: 70px 0px 0px 35px;
			li{
				margin: 0px 0px 15px 0px;
			}
		}
		&__link{
			font-size: 15px;
			&--earth{
				
			padding: 0px 0px 0px 35px;
			background: url('../img/earth.svg')left no-repeat;
			}
		}
	}
}
@media (max-width:574.98px){
	
}


