@media (max-width:991.98px){
	.header{
		&-body{
			&__img{
				width: 130px;
			}
		}
	}
	.nav-header{
		&__list{
			li{
				margin: 0px 0px 0px 10px;
			}
		}
	}
}
@media (max-width:790.98px){
	.nav-header{
		&__list{
			li{
				margin: 0px 0px 0px 8px;
			}
		}
		&__link{
			font-size: 11px;
		}
	}
}
@media (max-width:767.98px){
	.header{
		&-body{
			height: 70px;
		}
	}
	.nav-header{
		&__icon{
			display: block;
		}
		&__menu {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -110%;
			background-color: #fff;
			z-index: 2;
			padding: 50px 10px 20px 10px;
			overflow: auto;
			transition: 0.5s all;
			opacity: 0;
			visibility: hidden;
			&.active{
				left: 0;
			opacity: 1;
			visibility: visible;
			}
		}
		&__list{
			display: block;
			padding: 15px 0px 0px 0px;
			li{
				margin: 0px 0px 15px 0px;
			}
		}
		&__link{
			font-size: 15px;
			&--earth{
			padding: 0px 0px 0px 35px;
			background: url('../img/earth.svg')left no-repeat;
			}
		}
	}
}
@media (max-width:574.98px){
	
}


